<h1 style="text-align: center; font-size: 50px;">Welcome to the homepage!</h1>
<%= link_to "About", pages_about_path %>
<img style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 50px; width: 100%;"
src="https://i.etsystatic.com/14632471/r/il/39cf7b/1262476848/il_570xN.1262476848_ltor.jpg"
alt="Pickle Rick">
<div style="display: flex; justify-content: center;">
  <div style="text-align: justify; padding: 25px;">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
      praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
      quaerat, ullam et fuga aut dignissimos doloribus sed rem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
      praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
      quaerat, ullam et fuga aut dignissimos doloribus sed rem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
      praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
      quaerat, ullam et fuga aut dignissimos doloribus sed rem.
    </p>
  </div>
  <div style="text-align: justify; padding: 25px;">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
      praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
      quaerat, ullam et fuga aut dignissimos doloribus sed rem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
      praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
      quaerat, ullam et fuga aut dignissimos doloribus sed rem.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
      praesentium id quis a amet debitis culpa, sequi vel ipsam quo! Sint
      quaerat, ullam et fuga aut dignissimos doloribus sed rem.
    </p>
  </div>
</div>
